

  <div class="container">
    <div class="login-form">
      <h1>Login</h1>
      <form action="/login" method="POST"> <!-- Check login route -->
        <label for="email">Email</label>
        <input type="email" placeholder="" id="email" name="email" autocomplete="email">
        <label for="password">Password</label>
        <input type="password" placeholder="" id="password" name="password">
        <input type="submit" id="loginbtn" name="loginbtn" value="Submit" />
      </form>
    </div>
    <p class="para-2">
      Don't have an account? <a href="signup.html">Sign Up Here</a>
    </p>
  </div>

<script src="./js/login.js"></script>