<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{head_title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<!--Various Stylesheets For Handlebars -->
 
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light"> <!-- or use navbar-dark bg-dark -->
  <div class="container-fluid">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/plantsearch">Plant Search</a></li>
      <li class="nav-item"><a class="nav-link" href="/forum">Plant Forum</a></li>
      <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
      <!-- Conditionally render login or logout links -->
      {{#if loggedIn}}
      <li class="nav-item"><button class="nav-link" id="logoutLink">Logout</button></li>
      {{else}}
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li> 
      {{/if}}
    </ul>
  </div>
</nav>

<header>
  <h1>{{title}}</h1>
</header>

{{{body}}}
 
<!-- Footer Section -->
  <footer id="footer">
    <div class="contact-info">
      <p>Contact Us: contact@gardenbliss.com 🌼 Created By: The BC Garden Club</p>
    </div>
  </footer>  

<!-- Render script for logged in users only -->
  {{#if loggedIn}} 
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
</html>