<!-- Header with Navigation Bar -->
{{!-- <div class="header">
  <header>
    <nav>
      <ul class="navlinks">
        <li><a href="/">Home</a></li>
        <li><a href="/plantsearch">Plant Search</a></li>
        <li><a href="/tips">Plant Forum</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="#" id="logoutLink">Logout</a></li>
      </ul>
    </nav>
  </header>
</div> --}}
