    <!-- Main Content Section -->
    <div class="search-container">
        <h1 class="text-center">Plant Care Search</h1>
    </div>
    <!-- Search Form Section -->
    <div class="plant-search-input">
        <div id="plantsearch">
            <input type="text" placeholder="Enter Plant Name: Ex: rose">
            <button id="plantsearchbtn">Search</button>
        </div>
        <div>
            <button id="plantsavebtn">Save Plant Data</button>
        </div>
    </div>
              
    <!-- Results Section -->
    <div class="plant-results-container">
        <div id="plantdata">
            {{#if plantInfo}}
                <p>{{plantInfo}}</p>
            {{else}}
                <p>Enter a plant name to see its care information.</p>
            {{/if}}
        </div>
      
        <!-- Plant Image-->
        <div class="plantimagebx">
            <div id="plantimage">
                {{#if plantImage}}
                    <img src="{{plantImage}}" alt="Plant Image">
                {{else}}
                    <img src="./public/css/images/placeholder.jpg" alt="Placeholder Plant Image">
                {{/if}}
            </div>
        </div>
        
    <script src="./public/js/plantsearch.js"></script>