    <!-- Main Content Section -->
    <head>
        <link rel="stylesheet" href="/css/plantsearch.css">
    </head>
    <div class="search-container">
        <h1 class="text-center">Plant Care Search</h1>
    </div>
    <!-- Search Form Section -->
    <div class="plantSearchInput">
        <div id="plantSearch">
            <input type="text" placeholder="Enter Plant Name: Ex: rose">
            <button id="plantSearchBtn">Search</button>
        </div>
        <div>
            <button id="plantSaveBtn">Save Plant Data</button>
        </div>
    </div>
              
    <!-- Results Section -->
    <div class="plantResultsContainer">
        <div id="plantData">
            {{#if plantInfo}}
                <p>{{plantInfo}}</p>
            {{else}}
                <p>Enter a plant name to see its care information.</p>
            {{/if}}
        </div>
      
        <!-- Plant Image-->
        <div class="plantimagebx">
            <div id="plantImage">
                {{#if plantImage}}
                    <img src="{{plantImage}}" alt="Plant Image">
                {{else}}
                    <img src="./public/css/images/pinkrose.jpg" alt="Placeholder Plant Image">
                {{/if}}
            </div>
        </div>
        
     <!-- Error Modal -->
    <div id="errorModal" class="modal" style="display:none;">
    <div class="modalContent">
        <span class="closeButton" onclick="closeModal();">&times;</span>
        <p id="errorText">Error message goes here</p>
    </div>
</div>

<script src="/js/plantsearch.js"></script>