<!-- Links to Bootstrap CSS for styling and the Custom CSS file for additional styling.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/signup.css">

<!-- Main container for the signup form, signup form and card header -->
  <div class="container">
    <div class="signup-form">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h1>Sign Up</h1>
      </div>
    <!-- Sub-heading info -->
      <h4>It's free and only takes a minute</h4>
      <!-- Form for signup and card-body -->
      <form class="card-body"> 
        <!-- Form group for the USERNAME. Contains a label and an input field. -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Create a username" required autocomplete="username" />
        </div>
        <!-- Form group for the EMAIL. Contains a label and an input field. -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter your email" required autocomplete="email" />
        </div>
        <!-- Form group for the PASSWORD. Contains a label and an input field. -->
        <div class="form-group">
          <label for="password">Password: 8 chars min</label>
          <input type="password" id="password" name="password" placeholder="Enter your password" required />
        </div>  
        <!-- Form group to CONFIRM Password. Contains a label and an input field. -->
        <div class="form-group">
          <label for="confirmpassword">Confirm Password</label>
          <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm your password" required />
        </div>
        <!-- Form group for the SIGN-UP BUTTON. -->
        <div class="form-group">
          <input type="submit" id="signupbtn" name="signupbtn" value="Submit" />
        </div>
      </form>
      <!-- Refer the User to the Login Page. -->
      <div>
        <p class="para-2">Already have an account? <a href="/login">Login Here</a></p>
      </div>
    </div>
  </div>

<!-- Javascript File for Signup Functionality. -->
<script src="/js/signup.js"></script>
