* {
  margin: 0;
  padding: 0;
}

/* Apply background styles to the body */
body {
  background-image: url('images/bench.jpg'); /* Your background image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Style the navigation bar */

.container-fluid {
  width: 100%;
  background-color: #9FE2BF;
  height: 50px;
}

.navlinkcontainer {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding-left: 0; 
  padding: 5px;
  padding-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  color: darkgreen;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  color: yellow;
}

h1 {
  font-size: 45px;
  font-family: "Lucida Handwriting";
  font-weight: bold;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  flex: 1; /* Center the title */
}

.main-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.left-section{
  
  width: 40%;
  box-sizing: border-box;
  padding: 10px;
}

.right-section {
  width: 35%;
  box-sizing: border-box;
  padding: 10px;
}

/* Style for the search-input */
.plantSearchInput {
  margin-right: 0;
}

#plantSearch input[type="text"] {
  border: 3px solid green;
  border-right: 8px solid green;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 12px 0 0 12px;
  margin-right: -4px;
  width: 65%;
}

/* Style for the search button */
#plantSearchBtn {
  border: 3px solid green;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  color: darkgreen;
  margin-right: 10px;
  margin-left: -1px;
  height: 62px;
  border-left: 8px solid green;
}

#plantSearchBtn i {
  color: green; /* Icon color */
  font-weight: bolder;
}

/* Style for the results-container */
  .plantResultsContainer {
   overflow-y: auto;
}

#plantData {
  height: 500px;
  background-color: white;
  padding-left: 40px;
  padding-top: 20px;
  border: 3px solid green;
  border-radius: 12px;
  overflow-y:scroll; /* Add scrollbar if content overflows */
}

#plantData p {
  font-size: 16px;
  color: black;
  font-weight: bold;
}
  
/* Style for the saved search container */
.savedSearchContainer {
  overflow-y: auto;
}

/* Style for the saved search list */
.savedSearchList {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
  padding: 10px;
  padding-left: 20px;
  background-color: #f5f5f5;
  border-radius: 12px;
  border: 3px solid green;
}

/* Changes the cursor to indicate the item is clickable */
.clickable-term {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/*Highlights the term when hovered over */
.clickable-term:hover {
  background-color: yellow;
}

/* Style for the delete plants button */
#deletePlantsBtn {
  padding: 5px;
  padding-right: 10px;
  border: 3px solid red;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
}

#deletePlantsBtn i {
  color: red; 
  font-weight: bolder;
  padding: 10px;
}

/* Footer Styles */
footer {
  background-color: 	#9FE2BF;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 16px;
  color: darkgreen;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .main-container {
      flex-direction: column; /* Stack left and right sections vertically */
  }

  .left-section, .right-section {
      width: 100%; /* Each section takes full width on smaller screens */
      max-width: none; /* Override any max-width set earlier */
      flex: none; /* Reset any flex-grow settings */
      margin: 0; /* Adjust margin as needed */
      padding: 10px 0; /* Adjust padding as needed */
  }

  .plantSearchInput {
    width: 100%;
  }

  .plantResultsContainer, .savedSearchList {
      width: 100%; /* Full width for better readability */
  }
}

@media screen and (max-width: 600px) {
  .nav-link {
    font-size: 16px;
  }
  
  footer {
    font-size: 14px;
    padding: 5px;
  }
}

@media screen and (max-width: 557px) {
  .main-container {
      flex-direction: column; /* Stack left and right sections vertically */
  }

  .left-section, .right-section {
      width: 100%; /* Each section takes full width on smaller screens */
      max-width: none; /* Override any max-width set earlier */
      flex: none; /* Reset any flex-grow settings */
      margin: 0; /* Adjust margin as needed */
      padding: 10px 0; /* Adjust padding as needed */
  }

  .plantSearchInput {
    width: 100%;
  }

  .plantResultsContainer, .savedSearchList {
      width: 100%; /* Full width for better readability */
  }
}


@media screen and (max-width: 520px) {
  .nav-link {
    font-size: 14px;
    padding: 5px;
  }
  

  h1 {
    font-size: 24px;
    font-family: "Lucida Handwriting";
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    flex: 1; /* Center the title */
  }

  footer {
    font-size: 12px;
    padding: 5px;
  }
  
  .main-container {
      flex-direction: column; /* Stack left and right sections vertically */
  }

  .left-section, .right-section {
      width: 100%; /* Each section takes full width on smaller screens */
      max-width: none; /* Override any max-width set earlier */
      flex: none; /* Reset any flex-grow settings */
      margin: 0; /* Adjust margin as needed */
      padding: 5px 0; /* Adjust padding as needed */
  }

  .plantSearchInput {
    width: 80%;
    height: 56px;
  }

  #plantSearch input[type="text"] {
    font-size: 18px;
  }

  #plantSearchBtn {
    height: 56px;
  }

  .plantResultsContainer {
    width: 100%;
  }

  #plantData {
    width: 100%;
  }

  .savedSearchList {
    width: 100%; /* Full width for better readability */
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 420px) {
  * {
    margin: 0;
    padding: 0;
  }

  .nav-link {
    font-size: 14px;
    padding: 4px;
  }
  

  h1 {
    font-size: 20px;
    font-family: "Lucida Handwriting";
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    flex: 1; /* Center the title */
  }


  footer {
    font-size: 12px;
    padding: 5px;
  }
  
  .main-container {
      flex-direction: column; /* Stack left and right sections vertically */
  }

  .left-section, .right-section {
      width: 100%; /* Each section takes full width on smaller screens */
      max-width: none; /* Override any max-width set earlier */
      flex: none; /* Reset any flex-grow settings */
      margin: 0; /* Adjust margin as needed */
      padding: 5px 0; /* Adjust padding as needed */
  }

  .plantSearchInput {
    width: 100%;
  }

  .plantResultsContainer {
    width: 100%;  
  }

  #plantData {
    width: 100%;
    justify-content: center;
  }

  .savedSearchList {
    width: 100%; /* Full width for better readability */
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
  }
}


