/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}
  
/* Apply background styles to the body */
body {
    background-image: url('images/gardenplants.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
  
/* Style the navigation bar */
  
.container-fluid {
    width: 100%;
    background-color: #9FE2BF;
    align-items: center;
}
  
.navlinkcontainer {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    white-space: nowrap;
    align-items: center;
    padding-left: 0; 
    padding: 10px;
    width: 100%;
}
  
.nav-link {
    text-decoration: none;
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
}
  
.nav-link:hover {
    color: yellow;
}

#post-form.card {
    width: 80%;
}

.card-header {
    background-color: darkgreen;
    width: 100%;
}

.card-body {
    width: 100%;
    background-color: darkgreen;
}

h5 {
    background-color: darkgreen;
    color: white;
    padding: 15px;
}

#comment {
    margin-bottom: 20px;
}

#commentBtn {
    background-color: maroon;
    margin-bottom: 80px;
    font-weight: bolder;
}

#Btn {
    background-color: maroon;
}

/* Style the footer */  
footer {
    background-color: 	#9FE2BF;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    margin-top: 10px;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 16px;
    color: darkgreen;
}

@media screen and (max-width: 625px) {
    * {
        margin: 0;
        padding: 0;
    }
        
    .container-fluid {
        width: 100%;
        background-color: #9FE2BF;
        height: 50px;
    }
  
    .navlinkcontainer {
        width: 100%;
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }  

    .nav-link {
        white-space: nowrap;
        font-size: 16px;
        padding: 8px
    }

    .card-header {
        background-color: darkgreen;
        width: 100%;
    }
    
    .card-body {
        background-color: darkgreen;
    }
    
    #commentBtn {
        padding-bottom: 20px;
    }

    footer {
        font-size: 12px;
        padding: 8px;
        align-items: center;
    }
}
  
@media screen and (max-width: 440px) {
    * {
        margin: 0;
        padding: 0;
    }
        
    .container-fluid {
        width: 100%;
        background-color: #9FE2BF;
        height: 50px;
    }
  
    .navlinkcontainer {
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        padding-left: 0; 
        padding: 4px;
        width: 100%;
    }  

    .nav-link {
        white-space: nowrap;
        font-size: 14px;
    }
   
    #post-form.card {
        width: 100%;
    }
    
    .card-header {
        background-color: darkgreen;
        width: 100%;
    }
    
    .card-body {
        width: 100%;
        background-color: darkgreen;
    }

    #commentBtn {
        padding-bottom: 20px;
        margin-bottom: 50px;
    }

    footer {
        width: 100%;
        font-size: 12px;
        padding: 8px;      
    }
}
  
    