body {
    margin: 0;
    padding: 0;
    background-image: url('./images/waterpot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh;
  }

/* Style the navigation bar */
.container-fluid {
  width: 100%;
  background-color: #9FE2BF;
  height: 60px;
}

.navlinkcontainer {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding-left: 0; 
  padding: 5px;
  padding-bottom: 10px;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  color: darkgreen;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  color: yellow;
}

/* Header and Navigation Styles */
    
h1 {
  text-align: center;
  font-weight: bolder;
  font-family: Roboto;
  margin-left: 120px;
  margin-top: 20px;
}

/* Style for the Form */
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.signup-form {
  width: 40%;
  height: 620px; /* Adjust height to accommodate the new Username field */
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
}

.card-header {
  height: 80px;
}

.card-body {
  width: 90%;
}

h4 {
  text-align: center;
}
  
form {
  width: 70%;
  margin-left: 20px;
}
  
form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
  
form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid green;
  border-radius: 8px;
  outline: none;
}
  
#signupbtn {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  border: none;
  background-color: #228B22;
  color: white;
  font-size: 18px;
  font-weight: bold;
  align-self: center;
}
 
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  font-weight: bold;
}
  
.para-2 {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  margin-top: -10px;
  margin-bottom: 60px;
  width: 100%;
  height: 50px;
  white-space: nowrap;
}
  
.para-2 a {
  color: black;
  font-weight: bolder;
  font-size: 35px;
  background-color: white;
  border-radius: 6px;
}
  
/* Footer Styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9FE2BF;
  width: 100%;
  height: 50px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  font-weight: bold;
  font-size: 16px;
  color: darkgreen;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1200px) {
  .container-fluid {
    width: 100%;
    background-color: #9FE2BF;
    height: 60px;
  }
  
  .navlinkcontainer {
    width: 100%;
    display: flex;
    white-space: nowrap;
    list-style-type: none;
    justify-content:space-between;
    align-items: center;
    padding-left: 0; 
    padding: 5px;
    padding-bottom: 10px;
  }

  .nav-link {
    text-decoration: none;
    text-align: center;
    color: darkgreen;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
  }

  .container {
    width: 100%;
  }

  .signup-form {
    width: 50%;
  }

  h1 {
    margin-left: 90px;
  }

  footer{
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  .signup-form {
   width: 70%;
 }
}

@media screen and (max-width: 770px) {
  .signup-form {
   width: 80%;
  }

  h1 {
    margin-left: 60px;
  }
}

@media screen and (max-width: 600px) {
  .container-fluid {
    width: 100%;
    background-color: #9FE2BF;
    height: 60px;
  }
  
  .navlinkcontainer {
    width: 100%;
    display: flex;
    white-space: nowrap;
    list-style-type: none;
    justify-content:space-between;
    align-items: center;
    padding-left: 0; 
    padding: 5px;
    padding-bottom: 10px;
  }

  .nav-link {
    text-decoration: none;
    text-align: center;
    color: darkgreen;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
  }

  .container {
    width: 100%;
  }

  .signup-form {
    width: 80%;
  }

  footer{
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 515px) {
   .container-fluid {
    width: 100%;
    background-color: #9FE2BF;
    height: 60px;
  }
  
  .navlinkcontainer {
    width: 100%;
    display: flex;
    white-space: nowrap;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 0; 
    padding: 10px;
    padding-bottom: 5px;
    margin-right: -60px;
  }

  .nav-link {
    text-decoration: none;
    text-align: center;
    color: darkgreen;
    font-size: 16px;
    font-weight: bolder;
    padding: 5px;
  }

  .container {
    width: 100%;
  }

  .signup-form {
    width: 80%;
  }

  .para-2 {
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    margin-top: -10px;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
  }
    
  .para-2 a {
    color: black;
    font-weight: bolder;
    font-size: 28px;
    background-color: white;
    border-radius: 6px;
  }
  
  footer{
    width: 100%;
    font-size: 12px;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 446px) {
  .signup-form {
    width: 90%;
  }

  .card-body {
    width: 90%;
  }

  #signupbtn {
    width: 100%;
  }

 .para-2 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -10px;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
  }
  
  .para-2 a {
    color: black;
    font-weight: bolder;
    font-size: 24px;
    background-color: white;
    border-radius: 6px;
  }

  footer{
    width: 100%;
    font-size: 12px;
    padding: 8px;
    margin-right: -10px;
    margin-left: -10px;
  }
}
